<div id="addNewMoviePopup">
    <div id="popup-title-bar">
        <div>Add A Movie</div><div style="float:right" ng-click="close()">x</div>
    </div>
    <form ng-submit="submit()" class="flex-parent">
        <div class="flex-item">
            <label>Title</label><br/>
            <input required type="text" id="title" ng-model="newMovie.Title"/>
        </div>
        <div class="flex-item">
            <label>Genre</label><br />
            <select required id="genre" ng-model="newMovie.Genre">
                <option>Action</option>
                <option>Adventure</option>
                <option>Comedy</option>
                <option>Crime</option>
                <option>Drama</option>
                <option>Epic</option>
                <option>Horror</option>
                <option>Musical</option>
                <option>Science Fiction</option>
                <option>War</option>
                <option>Western</option>
            </select>
        </div>
        <div class="flex-item">
            <label>SubGenres</label><br />
            <select multiple required id="subgenre"  ng-model="newMovie.SubGenre">
                <option>Biopic</option>
                <option>Chick Flick</option>
                <option>Courtroom Drama</option>
                <option>Mystery</option>
                <option>Disaster</option>
                <option>Fantasy</option>
                <option>Noir</option>
                <option>Guy Films</option>
                <option>Melodrama</option>
                <option>Road Film</option>
                <option>Romance</option>
                <option>Sports</option>
                <option>Super Heroes</option>
                <option>Supernatural</option>
                <option>Thriller</option>
                <option>Zombie</option>
            </select>
        </div>
        <div class="flex-item">
            <label>Director</label><br />
            <input required type="text" id="director"  ng-model="newMovie.Director"/>
        </div>
        <div class="flex-item">
            <label>Date Released></label><br />
            <input required type="date" id="releaseDate"  ng-model="newMovie.DateReleased"/>
        </div>
        <div class="flex-item">
            <label>Length (in Minutes)</label><br />
            <input required type="number" id="length"  ng-model="newMovie.Length"/>
        </div>
        <div class="flex-item">
            <label>Description</label><br />
            <textarea required id="description"  ng-model="newMovie.Description"></textarea>
        </div>
        <div class="flex-item"><input type="submit" id="submit" value="Add!"/></div>
    </form>
</div>