<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script type="text/javascript" src="appController.js"></script>
    <link href="style.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <title>Movie Collection</title>
</head>
<body ng-app="movieApp">
    <div ng-controller="movieAppController">
        <header></header>
        <nav class="flex-parent">
            <div id="new-button" class="flex-item button" ng-click="showAddMoviePopup()">
                New
            </div>
        </nav>
        <div ng-if="addNewMovie">
            <div ng-include src="'addNewMoviePopup.html'"></div>
        </div>
        <main>
            <div class="main">
                <div ng-repeat="movie in movies"></div>
            </div>
        </main>
        <footer class="flex-parent"></footer>
    </div>
</body>
</html>