/*generic styles*/

header {
    height: 10vh;
    background:linear-gradient(0deg, blue, white);
}

nav {
    height: 3vh;
    background-color: #a4a4a4;
}

main {
    height: 85vh;
}

footer {
    height: 2vh;
}

.button {
    cursor: pointer;
}

/*Styles for displaying the movie items*/
.flex-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.movie-item {
    border: 1px solid #000;
    text-overflow: wrap;
    padding: 5px;
}

.movie-title {
    font-weight: bold;
    font-size: 1.2rem;
    font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
    width: 20vw;
    text-overflow: wrap;
}

/*Styles for the Add Movie Popup*/
#addNewMoviePopup {
    position: absolute;
    top: 25vh;
    left: 14vw;
    width: 74vw;
    height: 50vh;
    background-color: #a4a4a4;
    overflow: hidden;
}

#popup-title-bar {
    height: 5%;
    border-bottom:solid 1px black;
}

#submit {
    align-self:flex-end !important;
}

textarea {
    width: 68vw;
    height: 10vh;
}

form {
    margin: 3vw;
}

